body {
  margin: 0%; }

header {
  background-color: rgba(39, 39, 39, 0.528);
  background-size: cover;
  border-bottom: solid 2px;
  text-align: center; }

.Logo {
  padding: 0;
  width: 125px; }

.linksindexnacho {
  text-decoration: none;
  color: black; }

.propiedadesindex, .contactoindex, .galeriaindex, .nosotrosindex {
  background-image: url(../images/puertomadero2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  padding: 4cm;
  text-align: center;
  border-bottom: solid 2px; }

/* Extend */
.contactoindex {
  background-image: url(../images/oficina.jpg); }

.galeriaindex {
  background-image: url(../images/depto.webp); }

.nosotrosindex {
  background-image: url(../images/nosotros.jpg); }

footer {
  background-color: rgba(39, 39, 39, 0.528);
  background-size: cover;
  border-top: solid 2px;
  text-align: center;
  border-bottom: solid 2px;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.footer ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px; }
  .footer ul li {
    display: inline-block;
    position: relative;
    padding: 0px 5px 0px 20px; }
    .footer ul li img {
      width: 50px;
      transition: all 1.5s; }

@media screen and (max-width: 576px) {
  header {
    flex-direction: column; }
  .propiedadesindex, .contactoindex, .galeriaindex, .nosotrosindex {
    padding: 2cm; }
  .contactoindex {
    padding: 2cm; }
  .nosotrosindex {
    padding: 2cm; }
  .galeriaindex {
    padding: 2cm; }
  .footer ul li img {
    width: 30px; } }

/* MIXIN */
.Logo {
  width: 125px; }

.footer ul li img:hover {
  width: 75px;
  padding: 0px 10px 0px 27px; }

.card {
  width: 100%; }

.mainpropiedades {
  text-align: center; }

p {
  text-align: center; }

.tituloG {
  text-align: center; }

.mainnosotros {
  text-align: center; }

.titulocontacto {
  text-align: center;
  text-decoration-line: underline; }

.fieldset {
  margin: 25px; }

.tituloformulariocontacto {
  text-align: center; }
