body {
  margin: 0%; }

header {
  background-color: rgba(39, 39, 39, 0.528);
  background-size: cover;
  border-bottom: solid 2px;
  text-align: center; }

.Logo {
  padding: 0;
  width: 125px; }

.linksindexnacho {
  text-decoration: none;
  color: black; }

.propiedadesindex, .contactoindex, .galeriaindex, .nosotrosindex {
  background-image: url(../images/puertomadero2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  padding: 4cm;
  text-align: center;
  border-bottom: solid 2px; }

/* Extend */
.contactoindex {
  background-image: url(../images/oficina.jpg); }

.galeriaindex {
  background-image: url(../images/depto.webp); }

.nosotrosindex {
  background-image: url(../images/nosotros.jpg); }

footer {
  background-color: rgba(39, 39, 39, 0.528);
  background-size: cover;
  border-top: solid 2px;
  text-align: center;
  border-bottom: solid 2px;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.footer ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px; }
  .footer ul li {
    display: inline-block;
    position: relative;
    padding: 0px 5px 0px 20px; }
    .footer ul li img {
      width: 50px;
      transition: all 0.75s; }

@media screen and (max-width: 576px) {
  header {
    flex-direction: column; }
  .propiedadesindex, .contactoindex, .galeriaindex, .nosotrosindex {
    padding: 2cm; }
  .contactoindex {
    padding: 2cm; }
  .nosotrosindex {
    padding: 2cm; }
  .galeriaindex {
    padding: 2cm; }
  .footer ul li img {
    width: 30px; } }

/* MIXIN */
.Logo {
  width: 125px; }

.footer ul li img:hover {
  width: 75px;
  padding: 0px 10px 0px 27px; }

.card {
  width: 100%; }

.mainpropiedades {
  text-align: center; }

p {
  text-align: center; }

.tituloG {
  text-align: center; }

.mainnosotros {
  text-align: center; }

.titulocontacto {
  text-align: center;
  text-decoration-line: underline; }

.fieldset {
  margin: 25px; }

.tituloformulariocontacto {
  text-align: center; }

  .sectiongaleria{
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(6, 200px);
    gap: 10px 10px;
    grid-template-areas: 
        "imagen1 imagen1 imagen1 imagen2 imagen2"
        "imagen3 imagen3 imagen4 imagen2 imagen2"
        "imagen3 imagen3 imagen4 imagen5 imagen5"
        "imagen6 imagen7 imagen7 imagen7 imagen7"
        "imagen6 imagen7 imagen7 imagen7 imagen7"
        "imagen8 imagen8 imagen8 imagen9 imagen9";
    justify-content: center;
    padding: 25px;
}

.imgG{
    grid-area: imagen1;
    background-image: url(../images/fotodptoG.jpg);
    background-position: center;
    background-size: cover;
}
.imgG2{
    grid-area: imagen2;
    background-image: url(../images/fotodptoG2.jpeg);
    background-position: center;
    background-size: cover;
}
.imgG3{
    grid-area: imagen3;
    background-image: url(../images/fotodptoG3.jpg);
    background-position: center;
    background-size: cover;
}
.imgG4{
    grid-area: imagen4;
    background-image: url(../images/fotodptoG4.jpg);
    background-position: center;
    background-size: cover;
}
.imgG5{
    grid-area: imagen5;
    background-image: url(../images/fotodptoG5.jpg);
    background-position: center;
    background-size: cover;
}
.imgG6{
    grid-area: imagen6;
    background-image: url(../images/fotodptoG6.jpg);
    background-position: center;
    background-size: cover;
}
.imgG7{
    grid-area: imagen7;
    background-image: url(../images/fotodptoG7.jpg);
    background-position: center;
    background-size: cover;
}
.imgG8{
    grid-area: imagen8;
    background-image: url(../images/fotodptoG8.jpg);
    background-position: center;
    background-size: cover;
}
.imgG9{
    grid-area: imagen9;
    background-image: url(../images/fotodptoG9.jpg);
    background-position: center;
    background-size: cover;
}
.imgG10{
    grid-area: imagen;
    background-image: url(../images/fotodptoG10.jpg);
    background-position: center;
    background-size: cover;
}
