body{
    margin: 0%;
}

header{
    background-color: rgba(39, 39, 39, 0.528);
    background-size: cover;
    border-bottom: solid 2px;
    text-align: center;
}

/* .Logo{
    padding: 0;
    width: 125px;
} */

.linksindexnacho{
    text-decoration: none;
    color: black;
}

.propiedadesindex{
    background-image: url(../images/puertomadero2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    padding: 4cm;
    text-align: center;
    border-bottom: solid 2px;
}
/* Extend */
.contactoindex{
    @extend .propiedadesindex;
    background-image: url(../images/oficina.jpg);
}


.galeriaindex{
    @extend .propiedadesindex;
    background-image: url(../images/depto.webp);
}

.nosotrosindex{
    @extend .propiedadesindex;
    background-image: url(../images/nosotros.jpg);
}

footer{
    background-color: rgba(39, 39, 39, 0.528);
    background-size: cover;
    border-top: solid 2px;
    text-align: center;
    border-bottom: solid 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer{
    ul{
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 0px;

        li{
            display: inline-block;
            position: relative;
            padding: 0px 5px 0px 20px;

            img{
                width: 50px;
                transition: all 1.5s;
            }
        }
    }
}

@media screen and (max-width: 576px){
    header{
        flex-direction: column;

    }
    .propiedadesindex{
        padding: 2cm;
    }
    .contactoindex{
        padding: 2cm;
    }
    .nosotrosindex{
        padding: 2cm;
    }
    .galeriaindex{
        padding: 2cm;
    }

    .footer{
        ul{
            li{
                img{
                    width: 30px;
                }
            }
        }
    }
}
/* MIXIN */
@mixin sizes($tamano){
    width: $tamano;
}

.Logo{
    @include sizes(125px)
}

$imagenes:(
    width: 75px,
    padding: 0px 10px 0px 27px,
);
.footer{
    ul{
        li{
            img:hover{
                width: map-get($imagenes, width);
                padding: map-get($imagenes, padding);
            }
        }
    }
}